<!DOCTYPE html>
<html lang="en">


<% include ../partials/head.ejs %>


    <body class="backgroundHoroscope">
        <p class="horoscopeName">Sorry I cant read you
        </p>



        <div class='wrapper'>

            <div class='button' id='starSignImage'>
                <a href="/">
                    <img class="horoscopeImage" src="https://i.ytimg.com/vi/ZTTwO8H5En8/maxresdefault.jpg">
                </a>
            </div>

            <div class='button' id='text'>
                Sorry I can't read you.
            </div>

        </div>

        <div class="celebImage">
            <marquee behavior="scroll" direction="left" onmousedown="this.stop();">
                <img class="celeb" src="https://4.bp.blogspot.com/-ZBOU5cNMMNw/WTgc4M1za3I/AAAAAAAAAxE/tkYY4jjkF3I5HWemjO7nkWtaIG6m3qiggCLcB/s1600/Mystic%2BMeg.jpg">
            </marquee>
        </div>

    </body>

</html>