<!DOCTYPE html>
<html lang="en">

<% include ../partials/head.ejs %>


    <body>


        <form class="form" action="/profile" method="get">
            <input type="text" name="handle">
        </form>
        <p> Enter your Twitter username to find your true Star Sign!</p>


    </body>

</html>