<!DOCTYPE html>
<html lang="en">


<% include ../partials/head.ejs %>


    <body>

        You are
        <%= horoscope.name %>

            <div class="starSignImage">
                <img src=<%=horoscope.img %>>
            </div>

            <div class="celebImage">
                <marquee behavior="scroll" direction="left" onmousedown="this.stop();">
                    <img src=<%=horoscope.celeb %>></marquee>
            </div>

    </body>

</html>